// $primary: #0074d9;
// $danger: #ff4136;
@import "../node_modules/bootstrap/scss/bootstrap";
$primary: #b1afaf;
$custom-colors: (
  "purple": #c446ff,
);
$theme-colors: map-merge($theme-colors, $custom-colors);
