/* Error: 45px and 1rem have incompatible units.
 *      ,
 * 1116 | $nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
 *      |                                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *      '
 *   node_modules/bootstrap/scss/_variables.scss 1116:37  @import
 *   node_modules/bootstrap/scss/bootstrap.scss 11:9      @import
 *   scss/custom.scss 19:9                                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 45px and 1rem have incompatible units.\a      \2577 \a 1116 \2502  $nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;\a      \2502                                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a      \2575 \a   node_modules/bootstrap/scss/_variables.scss 1116:37  @import\a   node_modules/bootstrap/scss/bootstrap.scss 11:9      @import\a   scss/custom.scss 19:9                                root stylesheet";
}
